body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.times {
  text-align: center;
}

h1 {
  font-size: 40px;
  color: #70bf4a;
  border-bottom: 4px solid #70bf4a;
  display: inline-block;
  padding-bottom: 24px;
  margin: 32px 0;
}

h1, h2, p {
  font-family: 'Prata', serif;
}

.home{
  text-align: center;
  margin-bottom: 30px;
}

.centered-container-btn{
  text-align: center; /* Centraliza os elementos no container */
  margin-top: 20px; /* Adiciona algum espaçamento superior (opcional) */
}

.centered-buttons .botao {
  margin-left: 10px; /* Adiciona algum espaçamento entre os botões (opcional) */
}